.footer {
    width: 100%;
    background: darken($color: $colour-white, $amount: 80%);
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    align-items: flex-start;
    &__logo {
        color: $colour-white;
        margin-bottom: 20px;
    }
    &__list {
        align-items: flex-start;
        & a {
            color: $colour-white;
            flex-direction: row;
            margin-bottom: 10px;
            & i {
                width: 20px;
                padding-right: 15px;
            }
            &:hover {
                color: $colour-primary;
            }
        }

    }
}