.header {
    width: 100%;
    height: 65px;
    background: $colour-white;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--accueil {
        box-shadow: 0px 0px 11px darken($color: $colour-white, $amount: 60%);
        margin-bottom: 6px;
    }
    &--restaurants {
        position: relative;
    }
    &__logo {

        width: 40%;
    }
    &__retour {
        position: absolute;
        top: 0;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        padding-left: 20px;
        font-size: 2rem;
    }
}

