.header {
    width: 100%;

    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--accueil {
        box-shadow: 0px 0px 11px darken($color: $colour-white, $amount: 60%);
        margin-bottom: 6px;
    }
    &--restaurants {
        position: relative;
    }
    &__logo {

        width: 50%;
        max-width: 100px;
    }
    &__retour {
        position: absolute;
        height: 100%;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        padding-left: 20px;
        font-size: 2rem;
    }
}

