*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body * {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
}

.logo {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 5rem;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-weight: 100;
  font-size: 2rem;
}

.btn {
  font-weight: 500;
  font-size: 1.8rem;
}

.presentation-restaurant__texte h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}

.plat__texte__nom {
  font-size: 1.5rem;
  font-weight: 500;
}
.plat__texte__precisions {
  font-size: 1.2rem;
  font-weight: 300;
}
.plat__prix {
  font-weight: 600;
}
.plat__validation {
  font-size: 2rem;
}

.container {
  height: auto;
  width: 100%;
  background-color: #fff;
}
.container h1 {
  align-self: flex-start;
  padding-left: 20px;
}
.container--grey {
  background: #f2f2f2;
}
.container--spaced {
  padding-top: 50px;
  padding-bottom: 60px;
}
.container--menu {
  padding-bottom: 20px;
}

.btn {
  color: #fff;
  background: linear-gradient(175deg, #FF79DA 2%, #9356DC) 75%;
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 5px 20px #b3b3b3;
}
.btn:hover {
  background: linear-gradient(175deg, #fface8 2%, #ae80e5 75%);
  box-shadow: 0px 5px 15px #4d4d4d;
}
.btn--uni {
  background: #FF79DA;
}
.btn--large {
  margin-top: -30px;
  width: 50%;
}

.rounded-number {
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #fff;
  background: #9356DC;
  border-radius: 50%;
}

.preview-restaurant {
  position: relative;
  width: 90%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 15px 20px #cccccc;
  overflow: hidden;
  margin-bottom: 15px;
}
.preview-restaurant__new {
  position: absolute;
  top: 10px;
  right: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.8rem;
  color: #278870;
  background: #99E2D0;
  height: 30px;
  width: 100px;
  border-radius: 2px;
}
.preview-restaurant__new--disabled {
  display: none;
}
.preview-restaurant__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.preview-restaurant__description {
  width: 100%;
  height: 30%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 10px;
}
.preview-restaurant__description div {
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
.preview-restaurant__description h1 {
  margin-bottom: 5px;
  font-size: 2rem;
  padding: 0;
}
.preview-restaurant__description p {
  height: auto;
  font-size: 2rem;
  padding: 0;
}

.heart {
  font-size: 3rem;
}
.heart--not-hover {
  color: black;
}
.heart--hover {
  display: none;
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
  background-clip: text;
}
.heart:hover {
  cursor: pointer;
}
.heart:hover .heart--hover {
  display: initial;
}
.heart:hover .heart--not-hover {
  display: none;
}

.plat {
  position: relative;
  flex-direction: row;
  background: #fff;
  width: 91%;
  margin-bottom: 15px;
  justify-content: space-between;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 20px #cccccc;
  overflow: hidden;
}
.plat__texte {
  width: 80%;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.plat__texte__nom {
  margin-bottom: 5px;
}
.plat__prix {
  align-self: flex-end;
  margin-bottom: 15px;
  margin-right: 20px;
}
.plat__validation {
  display: none;
  align-self: stretch;
  justify-content: center;
  width: 15%;
  background: #99E2D0;
  color: #fff;
}
.plat > input {
  display: none;
}
.plat:hover .plat__validation {
  display: flex;
}

.position-utilisateur {
  height: 50px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
}
.position-utilisateur__icone {
  margin-right: 12px;
}
.position-utilisateur__lieu {
  font-weight: 500;
}

.explorer {
  align-items: center;
}
.explorer > .explorer__titre {
  align-self: center;
  width: 80%;
  text-align: center;
  padding-left: 0;
  margin-bottom: 20px;
}
.explorer > .explorer__description {
  text-align: center;
  margin-bottom: 20px;
}

.instruction {
  flex-direction: row;
  width: 80%;
  height: 70px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 15px 20px #e6e6e6;
}
.instruction .rounded-number {
  transform: translateX(-12px);
}
.instruction i {
  color: gray;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 30px;
}
.instruction p {
  font-weight: 600;
}
.instruction:hover {
  background: #e9ddf8;
}
.instruction:hover i {
  color: #9356DC;
}

.presentation-restaurant {
  position: relative;
  width: 100%;
  height: 40%;
}
.presentation-restaurant__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.presentation-restaurant__texte {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  justify-content: space-between;
  background: #f2f2f2;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.menu {
  width: 100%;
}
.menu__rubrique {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.menu__underline {
  width: 35px;
  height: 3px;
  background: #99E2D0;
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 10px;
}

.header {
  width: 100%;
  height: 60px;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header--accueil {
  box-shadow: 0px 0px 11px #666666;
  margin-bottom: 6px;
}
.header--restaurants {
  position: relative;
}
.header__logo {
  width: 40%;
}
.header__retour {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  font-size: 2rem;
}

.footer {
  width: 100%;
  background: #333333;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: flex-start;
}
.footer .logo {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}
.footer__list {
  align-items: flex-start;
}
.footer__list a {
  color: #fff;
  flex-direction: row;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.footer__list a i {
  width: 20px;
  padding-right: 30px;
}
.footer__list a:hover {
  color: #9356DC;
}

/*# sourceMappingURL=style.css.map */
