.btn {
    color: $colour-white;
    background: linear-gradient(175deg, $colour-secondary 2%, $colour-primary)75%;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 20px  darken($color: $colour-white, $amount: 30%);
    &:hover {
        background: linear-gradient(175deg, lighten($colour-secondary,10%) 2%, lighten($colour-primary,10%)75%);
        box-shadow: 0px 5px 15px  darken($color: $colour-white, $amount: 70%);
    }
    &--uni {
        background: $colour-secondary ;
        
    }
    &--large {
        margin-top: -30px;
        width: 50%;
    }
}