.container {
    width: 100%;
    background-color: $colour-white;
    padding-top: 50px;
    padding-bottom: 60px;
    & h1 {
        width: 85%;
        text-align: center;
        padding-bottom: 20px;
    }
    & h2 {
        width: 100%;
        text-align: center;
        padding-bottom: 30px;
    }
    &--grey {
        background-color: darken($color: $colour-white, $amount: 3%);
    }

}