.container {
    width: 100%;
    background-color: $colour-white;
    padding-top: 50px;
    padding-bottom: 60px;
    & h1 {
        align-self: flex-start;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    &--grey {
        background-color: darken($color: $colour-white, $amount: 5%);
    }

}