.container {
    height: auto;
    width: 100%;
    background-color: $colour-white;
    &__title {
        align-self: flex-start;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    &--grey {
        background: darken($color: $colour-white, $amount: 5%);
    }
    &--spaced {
        padding-top: 50px;
        padding-bottom: 60px;
    }


}