.rounded-number {
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: $colour-white;
    background: $colour-primary;
    border-radius: 50%;
}