*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
html {
    font-size: $step-2;
}
body *{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

script {
    width: 80px;
}




