body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1;
}

.logo {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 100;
    font-size: 5rem;
}

.btn {
    font-weight: 500;
    font-size: 1.8rem;
}

.presentation-restaurant__texte h1{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
}

.menu {
    &__rubrique {
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
    }
}

.plat {
    &__texte__nom {
        font-size: 1.8rem;
        font-weight: 600;
    }
    &__texte__precisions {
        font-size: 1.5rem;
        font-weight: 300;
    }
    &__prix {
        font-size: 1.5rem;
        font-weight: 700;
    }
}
