body {
    font-family: 'Roboto', sans-serif;
    font-size: $step0;
    font-weight: 300;
    line-height: 1;
}

.bold {
    font-weight: 500;
}


.header {
    &__logo  {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 100;
    font-size: 2rem;
    }

    &__retour {
        font-size: $step2;
    }
}

.explorer__description {
    font-size: $step1;
}

.btn {
    font-weight: 500;
    font-size: $step0
}

.preview-restaurant {
    &__new {
        font-size: $step-2;
        font-weight: 500;
    }

    &__description h3{
       font-size: $step1;
    }

}

.presentation-restaurant__texte h1{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
    font-size: $step4;
}

.menu {
    &__rubrique {
        font-size: 2rem;
        font-weight: 400;
        text-transform: uppercase;
    }
}



.heart{
    font-size: $step4;
    font-weight: 100;
}

.menu {
    &__rubrique {
        font-size: $step0;
        font-weight: 300;
    }
}

.plat {
    &__texte {
        &__nom {
            font-size: $step1;
            font-weight: 500;
        }
        &__precisions {
            font-size: $step-1;
        }
    }
    &__prix {
        font-size: $step0;
        font-weight: bold;
    }
    &__validation {
        font-size: $step2;
    }
    
}

.footer {
    &__logo {
        font-family: 'Shrikhand', sans-serif;
        font-size: $step1;
        font-weight: 400;
    }
    font-weight: 400;

    &__list i {
        font-size: $step-2;
    }
}
