.position-utilisateur {
    position: relative;
    height: 45px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: darken($color: $colour-white, $amount: 9%);
    &__icone {
        position: absolute;
        left: 28%;
    }
}

.explorer {
    align-items: center;
    > .explorer__titre {
        align-self: center;
        width: 75%;
        text-align: center;
        padding-left: 0;
        margin-bottom: 20px;
    }
    > .explorer__description {
        text-align: center;
        margin-bottom: 20px;
        width: 90%;
    }

}

.instruction {
    flex-direction: row;
    width: 85%;
    height: 75px;
    background-color: darken($color: $colour-white, $amount: 3%);
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px  darken($color: $colour-white, $amount: 10%);
    & .rounded-number {
        transform: translateX(-12px);
    }
    & i {
        color: darken($color: $colour-white, $amount: 50%);
        padding-left: 15px;
        padding-right: 30px;
    }
    &:hover {
        background: lighten($color: $colour-primary, $amount: 32%);
        & i {
            color: $colour-primary;
        }
    }
}