.presentation-restaurant{
    position: relative;
    width: 100%;
    height: 40%;

    &__img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    &__texte {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: row;
        justify-content: space-between;
        background: darken($color: $colour-white, $amount: 5%);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px; 
    }
}

.menu {
    width: 100%;
    padding-left: 20px;
    &__rubrique {
        align-self: flex-start;
        padding-bottom: 5px;
    }
    &__underline {
        align-self: flex-start;
        width: 5rem;
        height: 4px;
        background: $colour-accent;
    }
    &__liste-plats {
        padding-top: 20px;
        width: 100%;
    }
}