.presentation-restaurant{
    position: relative;
    width: 100%;
    height: 350px;
    margin-bottom: -50px;

    &__img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
    &__texte {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 125px;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 40px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        background: darken($color: $colour-white, $amount: 3%);
        border-top-left-radius: 40px;
        border-top-right-radius: 40px; 
    }
}

.menu {
    width: 100%;
    padding-bottom: 30px;
    padding-left: 20px;
    &__rubrique {
        align-self: flex-start;
        padding-bottom: 5px;
        margin-top: 25px;
    }
    &__underline {
        align-self: flex-start;
        width: $step6;
        height: 3px;
        background: $colour-accent;
    }
    &__liste-plats {
        padding-top: 20px;
        margin-left: -20px;
        width: 100%;
    }
}